!!! Strict
%html
  %head
    :css
      table, tr, th, td {margin: 0; padding: 0;}
      a img { border: 0; }
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type"}
    %title 25% off ArtFlow for a limited time
  %body
    %center
      %p{:style => "font-family: verdana, arial, sans-serif; font-size: 9px;"}
        Can't view this email?
        = succeed "." do
          %a{:href => ""} View it on the Web
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %th{:bgcolor => "#bc471d"}
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
          %th{:align => "left", :bgcolor => "#bc471d", :valign => "top"}
            %img{:alt => "ArtFlow", :src => "http://artflowme.com/images/email/logo.gif"}
          %th{:align => "right", :bgcolor => "#bc471d", :valign => "top"}
            %img{:alt => "cloud icon", :src => "http://artflowme.com/images/email/cloud.gif"}
          %th{:bgcolor => "#bc471d"}
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
        %tr
          %td
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
          %td{:align => "left", :valign => "top"}
            %img{:alt => "Creative File Management Made Easy", :src => "http://artflowme.com/images/email/subhead.gif", :style => "margin-top:7px;"}
            %p{:style => "color: #666666; font-family: verdana, arial, sans-serif; font-size: 14px; line-height: 20px; margin-bottom: 12px; margin-top:15px;"}
              We here at AwesomeCo know how the end of the year can
              just be too much for keeping your files in order. Lots
              of &quot;get it out the door before the holiday&quot;
              projects end up in file server soup when you get back
              after New Year's.
            %p{:style => "color: #666666; font-family: verdana, arial, sans-serif; font-size: 14px; line-height: 20px; margin-bottom: 12px;"}
              That's why, for a limited time only, we're offering all
              new customers:
            %a{:href => "http://www.artflowme.com/holiday/"}
              %img{:alt => "Sign up today and get 25% off ArtFlow", :src => "http://artflowme.com/images/email/pitch.gif"}
            %p{:style => "color: #666666; font-family: verdana, arial, sans-serif; font-size: 14px; line-height: 20px; margin-bottom: 12px;"}
              Make your New Year's resolution to not have any more
              &quot;to sort&quot; folders. Get your team and your
              clients communicating better with our industry-changing
              software.
            %p{:style => "color: #666666; font-family: verdana, arial, sans-serif; font-size: 14px; line-height: 20px; margin-bottom: 12px;"}
              Because no designs should be alone this holiday season.
            %a{:href => "http://www.artflowme.com/holiday/"}
              %img{:alt => "Sign up today and get 25% off ArtFlow", :border => "0", :src => "http://artflowme.com/images/email/button1.gif"}
            %br
            %br
          %td{:align => "right", :valign => "top"}
            %img{:alt => "image of creative elements", :src => "http://artflowme.com/images/email/creatives.jpg"}
          %td
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
        %tr
          %td
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
          %td{:colspan => "2"}
            %img{:alt => "&copy;2011 John Athayde, Bruce Williams. All Rights Reserved, All Wrongs Reversed.", :src => "http://artflowme.com/images/email/footer.gif"}
            %p{:style => "color: #999999; font-family: verdana, arial, sans-serif; font-size: 10px; margin-bottom: 12px;"}
              We hate spam too, so if you received this in error, or
              simply no longer wish to receive our marketing emails,
              %a{:href => "http://www.artflowme.com/marketing/unsub"}
                simply click here
              to unsubscribe.
          %td
            %img{:height => "1", :src => "http://artflowme.com/images/email/spacer.gif", :width => "10"}
