- currently_at 'Home'

%p.important.blurb.rounded#product-description
  Have a file, store a file.
  Then change it, tag it, and share it or send it.
  %em
    This isn't your father's asset management application.

%section#features
  %p
    You're in charge! Our flexible, advanced
    %a{:href => "/features/approval"} approval process
    gives
    you the final say on the designs created for your
    advertising campaigns.
  %p
    Access the service from the
    %a{:href => "/features/mobile"} mobile
    device of your choice. We support them all!

-# TODO: Add list of articles. -BW 2011-11-01
