- content_for :sidebar do
  %section#assigned_designers
    %header
      %h1 Assigned Designers
    %ul
      - @project.designers.each do |designer|
        %li= designer_status_for(designer)

%article
  %header
    %h1= @project.name
  / Project information
