%footer#page_footer
  %ul
    %li
      = link_to 'Contact', ''
    %li
      = link_to 'Help', ''
    %li
      = link_to 'File A Bug', ''

  %p &copy; 2011 AwesomeCo. All Rights Reserved. All Wrongs Reversed.
